.register-container {
  min-height: calc(100vh - 56px); /* minus navbar */
  overflow-y: hidden;
  padding-top: 20px;
}

.register-card {
  width: 500px;
  max-width: 90%;
  border-radius: 12px;
}

.register-card h2 {
  font-weight: 600;
  color: #198754;
}

.register-card p {
  font-size: 14px;
}
